<ion-header [translucent]="true">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="login-container">

  <ion-card class="form-card">
    <ion-card-header>
      <ion-card-title class="ion-text-center">Login to 6th Sense Cafe</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form (ngSubmit)="onLogin()" #loginForm="ngForm">

        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input
            type="email"
            required
            [(ngModel)]="loginData.email"
            name="loginEmail"
            ngModel>
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input
            type="password"
            required
            [(ngModel)]="loginData.password"
            name="loginPassword"
            ngModel>
          </ion-input>
        </ion-item>

        <ion-button
        color="warning"
          expand="block"
          type="submit"
          [disabled]="!loginForm.form.valid"
          class="custom-button ion-margin-top">
          Login
        </ion-button>

        <ion-button color="dark" expand="block" fill="clear" [routerLink]="['../register']" class="custom-link">
          Don't have an account? Register
        </ion-button>

        <div class="ion-text-center">
          <a routerLink="/home" class="secondary-link">← Back to Home</a>
        </div>

      </form>
    </ion-card-content>
  </ion-card>

</ion-content>