.cart {
    flex-direction: right;
    align-items: center;
    padding: 20px;
}

  ion-content {
    --background: #fbec96;
  }

  ion-button {
    color: white;
  }

  .menu-header {
    font-weight: bold;
    font-size: 24px;
    color: black;
    margin-top: 10px;

    .cart-button {
  font-size: 1.2rem;
  font-weight: bold;
  --border-radius: 16px;
}

    

  }
  