<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> </ion-title>
    <img
      src="assets/6th Sense Cafe Home.jpg"
      alt="Logo"
      style="
        width: 200px;
        height: 200px;
        margin-left: auto;
        margin-right: auto;
        display: block;
      "
    />
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar> </ion-toolbar>

    <h2>Welcome!</h2>
    <!-- <ion-button (click)="logout()">Logout</ion-button> -->
  </ion-header>

  <div class="jumbotron">
    <h1>Welcome to 6th Sense Cafe</h1>
    <p>Your cozy neighborhood spot for the freshest coffee and tasty treats.</p>
    <ion-button color="warning" routerLink="/tabs/tab3"> Learn More </ion-button>
      <div style="margin-top: 1rem;" slor="end">
    <ion-button color="light" routerLink="/login" style="margin-right: 0.5rem;">
      Login
    </ion-button>
    <ion-button color="dark" routerLink="/register">
      Register
    </ion-button>
  </div>

  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6">
        <ion-card>
          <ion-img src="assets/Coffee.avif" alt="Fresh Coffee"></ion-img>
          <ion-card-header>
            <ion-card-title>Fresh Coffee</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            We serve handcrafted coffee made from premium beans, roasted to
            perfection.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="6">
        <ion-card>
          <ion-img src="assets/Pastries.jpg" alt="Delicious Pastries"></ion-img>
          <ion-card-header>
            <ion-card-title>Delicious Pastries</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Try our freshly baked pastries, perfect for pairing with your
            coffee.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
