<ion-header [translucent]="true">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Create an Account</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form (ngSubmit)="onRegister()" #registerForm="ngForm">

    <ion-item>
      <ion-label position="floating">Full Name</ion-label>
      <ion-input type="text" [(ngModel)]="registerData.fullName" name="registerName" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="registerData.email" name="registerEmail" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="registerData.password" name="registerPassword" required minlength="6"></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="!registerForm.form.valid" class="ion-margin-top">
      Register
    </ion-button>

    <ion-button expand="block" fill="clear" [routerLink]="['../login']">
      Already have an account? Login
    </ion-button>

  </form>
    </ion-card-content>
  </ion-card>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">register</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
